{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <form action="/bank" method="post">
        <div>Cash: {{ cash }}</div><br>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="amount" placeholder="Amount" type="number">
        </div>
        <button id="submit" class="btn btn-primary" type="submit">Borrow</button>
    </form><br><br>
    
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">User</th>
          <th scope="col">Amount</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
    {% for bank in banks %}
      <tr>
        <th scope="row">{{ bank[0] }}</th>
        <td>{{ bank[1] }}</td>
        <td>{{ bank[2] }}</td>
      </tr>
    {% endfor %}
      </tbody>
    </table>
{% endblock %}